@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", Helvetica, sans-serif;
}

.btn-primary {
  @apply bg-[#F7931E] text-white w-[148px] h-[54px] text-base rounded self-center lg:self-start;
}
.btn-secondary {
  @apply bg-transparent border border-[#F7931E] text-[#F7931E] w-[116px] h-[54px] text-base rounded;
}
